
<table mat-table [dataSource]="termekek" matSort >

    <ng-container matColumnDef="nev">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Termék név</th>
        <td mat-cell *matCellDef="let termek"> {{termek.nev}} </td>
    </ng-container>

    <ng-container matColumnDef="ar">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Termék ár</th>
        <td mat-cell *matCellDef="let termek"> {{termek.ar}}.-Ft </td>
    </ng-container>

    <ng-container matColumnDef="leiras">
        <th mat-header-cell *matHeaderCellDef>Termék leírás</th>
        <td mat-cell *matCellDef="let termek"> {{termek.leiras}} </td>
    </ng-container>

    <ng-container matColumnDef="kepUrl">
        <th mat-header-cell *matHeaderCellDef>Termék képe</th>
        <td mat-cell *matCellDef="let termek"> <img src="{{termek.kepUrl}}" alt="" style="width: 100px;"/> </td>
    </ng-container>

    <ng-container matColumnDef="gombok">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let termek"> 
            <button mat-mini-fab color="primary" *ngIf="this.loginszerviz.token != ''" 
                (click)="szerkesztes(termek)">
                <mat-icon>edit</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons>
</mat-paginator>


<!--<div *ngFor="let termek of termekek">
    <h4>{{termek.nev}}</h4>
    <p>{{termek.leiras}}</p>
    <b>{{termek.ar}}.-Ft</b>
</div>-->
